<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
  <title>Card</title>
</head>

<body>
  <div class="container">

    <div class="card-container">
      <div class="card-img">
        <img src="./img/sticker.png" alt="sticker">
      </div>
      <div class="card-text">
        <h2 class="card-title"><a href="#">Sticker</a></h2>
        <span class="card-price">$9.95 - $12.30</span>
      </div>
      <button class="btn card-btn">Personalize</button>
      <ul class="card-actions">
        <li class="card-actions-item">
          <a href="#"><i class="fa-regular fa-eye"></i></a>
        </li>
        <li class="card-actions-item">
          <a href="#"><i class="fa-regular fa-star"></i></a>
        </li>
        <li class="card-actions-item">
          <a href="#"><i class="fa-solid fa-rotate"></i></a>
        </li>
      </ul>
    </div>

  </div>
</body>

</html>